# Arquivos de Log e Dependências
# Ignora logs e a pasta de dependências em qualquer subdiretório
logs
*.log
npm-debug.log*
yarn-error.log*
node_modules/

.vscode


# Arquivos de Ambiente e Chaves Secretas (MAIS IMPORTANTE)
# NUNCA envie estes arquivos para o GitHub!
.env
.env*.local
serviceAccountKey.json
*.pem


# Específico do Frontend (Expo / React Native)
# Ignora pastas de cache e build do Expo
/frontend/.expo/
/frontend/web-build/
# Arquivo de tipos gerado pelo Expo
/frontend/expo-env.d.ts
# Chaves de assinatura de build
/frontend/*.jks
/frontend/*.keystore


# Específico do Backend (TypeScript / Prisma)
# Ignora a pasta com o código JavaScript compilado
/backend/dist/
# Ignora os arquivos do banco de dados SQLite
/backend/prisma/*.db
/backend/prisma/*.db-journal
# Ignora a pasta do cliente Prisma gerado
/backend/src/generated/

# Ignora a chave de serviço do Firebase no backend
/backend/serviceAccountKey.json

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db


# Arquivos de Editor de Código (VS Code, Idea)
.vscode/
.idea/